* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.area-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.area-phone img {
    height: 35rem;
}

.area-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 70%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin: 0.2rem 0;
}

.grupo:nth-child(1) {
    min-height: 19rem;
}

.insta-logo {
    height: 3rem;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img {
    height: 6rem;
}

.insta-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.insta-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.sem-conta {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.insta-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-loja {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-loja:nth-child(1) {
    background-image: url('./img/insta_apple.png');
}

.app-loja:nth-child(2) {
    background-image: url('./img/insta_google.png');
}

/* media queries */


@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .download {
        display: grid;
        margin: 2rem 0;
    }
}

@media (max-width: 640px) {
    body {
        background-color: #ffffff;
    }

    .container {
        width: 80%;
    }

    .area-phone {
        display: none;
    }

    .area-continue {
        width: 100%;
    }
    
    .grupo {
        border: 1px solid transparent;
    }

    
}